engine-strict=true
electron_mirror=https://mirror.ghproxy.com/https://github.com/electron/electron/releases/download/
electron_builder_binaries_mirror=https://mirror.ghproxy.com/https://github.com/electron-userland/electron-builder-binaries/releases/download/
win_code_sign_mirror=https://mirror.ghproxy.com/https://github.com/electron-userland/electron-builder-binaries/releases/download/
npm_config_production=false
npm_config_registry=https://registry.npmjs.org/
