engine-strict=true
electron_mirror=https://npm.taobao.org/mirrors/electron/
electron_builder_binaries_mirror=https://npm.taobao.org/mirrors/electron-builder-binaries/
npm_config_production=false
npm_config_registry=https://registry.npmmirror.com/
